/**
 * --------------------------------------------------------------------------------
 * Main Stylesheet
 * --------------------------------------------------------------------------------
*/
/**
 *
 * #.# General
 *
 */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: mediumturquoise;
}

a, a:hover, a:focus {
  outline: 0;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}

/* Text selection color */
/* Mozilla based browser */
::-moz-selection {
  background-color: mediumturquoise;
  color: #fff;
}

/* Opera browser */
::-o-selection {
  background-color: mediumturquoise;
  color: #fff;
}

/* Internet Explorer browser*/
::-ms-selection {
  background-color: mediumturquoise;
  color: #fff;
}

/* Chrome and safari browser */
::-webkit-selection {
  background-color: mediumturquoise;
  color: #fff;
}

/* Default */
::selection {
  background-color: mediumturquoise;
  color: #fff;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.white {
  background-color: #fff;
}

.shadow {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
}

.radius {
  border-radius: .3rem;
}

.vartical-align {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.full-image {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, black 100%);
  z-index: 1;
}

.zoom-in {
  transform: rotate(4deg) scale(1.2);
  transition: all .2s ease-in-out;
}

.zoom-out {
  transform: rotate(0deg) scale(1);
  transition: all .2s ease-in-out;
}

.block {
  background-color: white;
  margin-bottom: 2.4rem;
  padding: 2.4rem;
  position: relative;
}

.shadow {
  box-shadow: 0 1px 1px 0 rgba(0, 1, 1, 0.1);
}

.author {
  background-color: mediumturquoise;
  padding: 0.2rem .5rem;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}

blockquote::before {
  content: '"';
  color: #1f1f1f;
  font-size: 6.8rem;
  font-weight: 900;
  line-height: 1;
  position: absolute;
  top: 0px;
  left: -42px;
}

blockquote,
blockquote p {
  position: relative;
  font-size: 2.4rem;
}

.single-post-text {
  box-sizing: border-box;
}
.single-post-text ul ul,
.single-post-text ul ul ul,
.single-post-text ol ol,
.single-post-text ol ol ol {
  margin-left: 3rem;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  text-align: center;
}
.wp-caption p {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.alignleft {
  display: inline;
  float: left;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.alignnone {
  margin: 0;
}

.alignright {
  display: inline;
  float: right;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.aligncenter {
  text-align: center;
  margin: 0 auto;
}

/**
 * 
 * #.# Top Bar
 * 
 */
.top-bar-style {
  background-image: url(../../img/line.png);
  background-repeat: repeat-x;
  height: .5rem;
  width: 100%;
}

.social-icons {
  float: left;
  margin-left: 1rem;
  line-height: 1.6rem;
}
.social-icons li {
  display: inline-block;
  margin-right: 1rem;
  list-style-type: none;
}
.social-icons .social-icon:after {
  color: white;
  font: normal normal normal 1.6rem/1 FontAwesome;
}
.social-icons .facebook:after {
  content: "\f09a";
}
.social-icons .twitter:after {
  content: "\f099";
}
.social-icons .youtube:after {
  content: "\f16a";
}
.social-icons .whatsapp:after {
  content: "\f232";
}
.social-icons .instagram:after {
  content: "\f16d";
}
.social-icons .linkedin:after {
  content: "\f0e1";
}

.right-side-account {
  float: right;
  color: #fff;
}
.right-side-account p {
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 2.6rem;
}

.top-bar {
  background-color: #222;
}

/**
 * 
 * #.# Header
 * 
 */
/* Header Container */
.header {
  background-color: #fff;
}

.header-main {
  padding: .5rem 0;
}

.site-header {
  position: relative;
  background-color: white;
}
.site-header .row {
  padding: 0;
}

.site-title {
  margin: 2rem 0;
}
.site-title a {
  display: inline-block;
}

.right-side-ad {
  float: right;
}

.vertical-align {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

/* Navigation Menu */
.header-navigation {
  z-index: 10;
}

.nav-menu {
  background-color: #fff;
  border-top: 1px solid rgba(51, 51, 51, 0.12);
  box-shadow: 0px 15px 9px -14px rgba(0, 0, 0, 0.2);
}

.site-header nav {
  float: right;
  position: relative;
  z-index: 2;
}
.site-header nav a {
  font-size: 1.6rem;
  font-weight: 700;
}

.main-nav li {
  list-style-type: none;
}
.main-nav li a {
  font-weight: 700;
}

.main-nav > li {
  float: left;
}

.main-nav > li > a {
  color: #404040;
  display: block;
  margin: 1.4rem;
  position: relative;
}

.main-nav > .menu-item-has-children > ul {
  background-color: #fff;
  position: absolute;
  padding: 1.6rem 2.4rem;
  width: 210px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.main-nav > .menu-item-has-children:hover > ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.main-nav .menu-item-has-children > a:after {
  content: "\f107";
  padding-left: 6px;
  font: normal normal normal 16px/1 FontAwesome;
}

.main-nav li ul .menu-item-has-children > ul {
  background-color: #fff;
  position: absolute;
  margin-left: -1.1rem;
  padding: 1.6rem 2.4rem;
  width: 160px;
  left: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.main-nav li ul .menu-item-has-children:hover > ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-2.4rem);
  -moz-transform: translateY(-2.4rem);
  -o-transform: translateY(-2.4rem);
  transform: translateY(-2.4rem);
}

.main-nav li ul .menu-item-has-children > a:after {
  content: "\f105";
  display: inline-block;
  font: normal normal normal 1.6rem/1 FontAwesome;
  right: 0;
  padding-top: .4rem;
  padding-right: 2.4rem;
  position: absolute;
}

/* Menu Hover Effect */
.main-nav > .menu-item a {
  color: mediumturquoise;
  transition: color .3s;
}
.main-nav > .menu-item > a::before {
  content: "";
  background: #ff005b;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -20px;
  opacity: 0;
  transition: opacity .3s, bottom .3s;
}
.main-nav > .menu-item:hover > a {
  color: #ff005b;
}
.main-nav > .menu-item:hover a::before {
  opacity: 1;
  bottom: -10px;
}
.main-nav > .menu-item .sub-menu li:hover > a {
  color: #ff005b;
}

.main-nav > .current_page_item a::before {
  opacity: 1;
  bottom: -10px;
}

/* Mobile Navigation Menu */
.mobile-menu-container {
  position: absolute;
  top: 0;
  width: 95%;
}

.menubar-right,
.menubar-close {
  cursor: pointer;
  position: absolute;
  font-size: 2.7rem;
  right: 0;
  top: 2.4rem;
  z-index: 2;
}

.menubar-right {
  top: 7rem;
}

.menubar-close {
  right: 3.2rem;
}

.dropdown-toggle {
  cursor: pointer;
  font-size: 2.2rem;
  margin-top: .2rem;
  position: absolute;
  top: 1rem;
  right: 0;
  -webkit-transition: -webkit-transform .2s ease-out;
  -moz-transition: -moz-transform .2s ease-out;
  -o-transition: -o-transform .2s ease-out;
  transition: transform .2s ease-out;
}

.mobile-menu-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 9901;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.mobile-menu-active {
  opacity: 1;
  visibility: visible;
}

.nav-parent {
  background-color: #fff;
  border-left: 1px solid #e3e3e3;
  padding: 4rem;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 23rem;
  width: 100%;
  z-index: 9902;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s ease;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.main-nav > ul {
  display: none;
}

.mobile-menu-open {
  top: 4rem;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.mobile-nav li {
  position: relative;
  list-style-type: none;
}

.mobile-nav > li {
  border-bottom: 1px solid #e3e3e3;
}

.mobile-nav > li:last-child {
  border-bottom: none;
}

.mobile-nav li a {
  padding: 1rem;
  display: block;
}

.mobile-nav li ul li ul a,
.mobile-nav li ul a {
  display: block;
}

.mobile-nav > li > ul {
  display: none;
  padding-left: 1.6rem;
}

.mobile-nav > li > ul > li > ul {
  display: none;
  padding-left: 1.6rem;
}

.toggled {
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.mobile-search {
  margin-top: 1rem;
  position: absolute;
}

/* serch Option Costamization */
input, textarea, select, fieldset {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  line-height: 2.1rem;
  color: #444;
  border: .1rem solid #e1e1e1;
  width: 100%;
  max-width: 100%;
  height: 3.4rem;
  padding: .3rem .9rem;
}

.screen-reader-text {
  display: none;
  visibility: hidden;
}

.one-third {
  width: 33%;
  margin-right: .33%;
  float: left;
}

.one-fourth {
  width: 23%;
  margin-right: 1.33%;
  float: left;
}

.searchButton {
  position: absolute;
  right: 20px;
  width: 34px;
  height: 31px;
  border: 1px solid mediumturquoise;
  background: mediumturquoise;
  text-align: center;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.searchTerm {
  float: left;
  width: 80%;
  border: 2px solid mediumturquoise;
  padding: 4px;
  height: 1.9rem;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  margin-bottom: 0;
}

/**
 * 
 * #.# Media Queries
 * 
 */
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
  .main-nav {
    display: none;
  }
}
/* Larger than tablet */
@media (min-width: 992px) {
  .mobile-navigation {
    display: none;
  }
}
/**
 * --------------------------------------------------------------------------------
 * Grid banner
 * --------------------------------------------------------------------------------
*/
.section-one h3 {
  font-weight: 700;
}
.section-one .x-large,
.section-one .medium-post-section,
.section-one .full-post,
.section-one .small-post {
  position: relative;
  overflow: hidden;
}
.section-one .x-large,
.section-one .medium-post-section,
.section-one .small-post {
  float: left;
}
.section-one .x-large {
  width: 62.4%;
  margin-right: .1%;
}
.section-one .slide-banner {
  position: relative;
  overflow: hidden;
  height: 40rem;
}
.section-one .medium-post-section {
  width: 37.4%;
  margin-left: .1%;
}
.section-one .medium-post-section .full-post {
  height: 24.7rem;
  font-size: 2.4rem;
  margin-bottom: .3rem;
}
.section-one .medium-post-section .full-post h3 {
  font-size: 2.4rem;
}
.section-one .medium-post-section .small-post {
  width: 49.7%;
  height: 15rem;
  margin-right: .3%;
}
.section-one .medium-post-section .small-post:last-child {
  margin-right: 0;
  margin-left: .3%;
}
.section-one .medium-post-section .small-post h3 {
  font-size: 1.6rem;
}

.post-content {
  color: white;
  padding: 0 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.post-content a {
  color: white;
}

.slide-nav {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.slide-nav div {
  display: inline-block;
}
.slide-nav .slide-prev {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.slide-nav .slide-next {
  border-bottom-left-radius: 2px;
}

.slide-next {
  background-color: white;
  padding: 0 1rem;
  cursor: pointer;
  float: left;
}
.slide-next:after {
  content: "\f105";
  color: #404040;
  font: normal normal normal 2.4rem/1 FontAwesome;
}

.slide-prev {
  background-color: white;
  margin-right: .2rem;
  padding: 0 1rem;
  cursor: pointer;
  float: left;
}
.slide-prev:after {
  content: "\f104";
  color: #404040;
  font: normal normal normal 2.4rem/1 FontAwesome;
}

/**
 * --------------------------------------------------------------------------------
 * Body Commons
 * --------------------------------------------------------------------------------
*/
.news-marquee {
  margin: 2.4rem 0;
}

.exclusive-news {
  background-color: #ff005b;
  color: white;
  font-weight: 700;
  width: 10%;
  padding: .5rem 0;
  float: left;
}
.exclusive-news span {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.marquee {
  background-color: #fff;
  width: 90%;
  padding: .5rem 0;
  float: left;
  overflow: hidden;
}
.marquee a {
  color: #404040;
  font-weight: 700;
}

.js-marquee a {
  padding: 0 2.4rem;
}

.big-category-section {
  width: 48%;
  float: left;
  margin-right: 2%;
}

.list-type-categories {
  width: 50%;
  float: left;
}
.list-type-categories a {
  color: #404040;
}

.left-content {
  float: left;
  width: 30%;
}
.left-content img {
  width: 100%;
  height: 7rem;
}

.right-contents {
  float: left;
  width: 68%;
  margin-left: 2%;
}
.right-contents h2 {
  font-size: 1.6rem !important;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0 !important;
}
.right-contents p {
  font-size: 1.3rem;
}
.right-contents .author {
  color: white;
}

.cat-slider-vertical .list-item {
  height: 7.08rem;
}

.list-item {
  display: inline-block;
  border-bottom: 0.1rem solid #efefef;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  width: 100%;
}
.list-item:last-child {
  border-bottom: none;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

.section-two,
.section-three,
.section-four {
  margin-top: 2.4rem;
  padding-bottom: .5rem;
}
.section-two p,
.section-three p,
.section-four p {
  margin-bottom: .5rem;
  font-size: 1.2rem;
}
.section-two h2,
.section-three h2,
.section-four h2 {
  margin-bottom: .5rem;
}

.section-two .post-info {
  margin-bottom: .8rem;
}

.section-three .post-item {
  float: left;
  margin-right: 1%;
}
.section-three .big-category-section h2 {
  margin-top: 1rem;
}
.section-three .post-item:last-child {
  margin-right: 0;
  margin-left: 1%;
}
.section-three h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: .5rem;
}
.section-three .post-info {
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-bottom: 0.8rem;
}
.section-three .post-excerpt {
  font-size: 1.6rem;
  line-height: 2.1rem;
  margin-bottom: 1.6rem;
}

.section-four {
  padding-bottom: 2.4rem;
}
.section-four .title {
  color: white;
  background-color: #404040;
  font-weight: 700;
  padding: .5rem 1rem;
}
.section-four hr {
  border: 0.1rem solid #404040;
  margin-top: 0;
}
.section-four .post-info {
  margin-bottom: .8rem;
}

.fullwidth-sections {
  width: 24%;
  margin-right: 1.33%;
  float: left;
}

.fullwidth-sections:last-child {
  margin-right: 0;
}

.section-four .post-overlay {
  height: 15.9rem;
}

.more-fancy-h h5 {
  position: relative;
  text-align: center;
}
.more-fancy-h a {
  color: #fff;
}
.more-fancy-h .more-skew {
  background: #ff005b;
  color: #fff;
  font-weight: 700;
  margin: 2rem;
  display: inline-block;
  padding: 0 1.5rem;
  transform: skewX(-10deg);
}
.more-fancy-h h5:before {
  content: "";
  background: #ff005b;
  display: block;
  height: .2rem;
  position: absolute;
  top: 50%;
  width: 100%;
}
.more-fancy-h h5:before {
  left: 0;
}

.section-five .fullwidth-post-section h2 {
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 2.8rem;
  margin-bottom: .8rem;
}
.section-five .fullwidth-post-section .post-info {
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-bottom: 0.8rem;
}
.section-five .fullwidth-post-section .post-excerpt {
  margin-bottom: 0rem;
}
.section-five .fullwidth-post-section .small-font {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.section-title-blue,
.section-title-red {
  overflow: hidden;
  margin-bottom: 1.6rem;
}
.section-title-blue .title,
.section-title-red .title {
  color: white;
  font-weight: 700;
  padding: .5rem 1rem;
}

.section-title-blue {
  border-bottom: 0.2rem solid mediumturquoise;
}
.section-title-blue .title {
  background-color: mediumturquoise;
  font-weight: 900;
}

.section-title-red {
  border-bottom: 0.2rem solid #ff005b;
}
.section-title-red .title {
  background-color: #ff005b;
  font-weight: 900;
}

.post-overlay {
  height: 19rem;
  margin-bottom: .2rem;
  position: relative;
  overflow: hidden;
}
.post-overlay h3 {
  font-size: 1.8rem;
  font-weight: 700;
}
.post-overlay a {
  color: white;
}

.block .red div {
  background-color: #ff005b;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
}
.block .red .slide-prev:after {
  content: '\f107';
  color: white;
  font-weight: 700;
}
.block .red .slide-next:after {
  content: '\f106';
  color: white;
  font-weight: 700;
}
.block .green div {
  background-color: mediumturquoise;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
}
.block .green .slide-prev:after {
  content: '\f107';
  color: white;
  font-weight: 700;
}
.block .green .slide-next:after {
  content: '\f106';
  color: white;
  font-weight: 700;
}
.block .slide-nav {
  top: 2.4rem;
  right: 2.4rem;
}

.single-post-category {
  display: inline-block;
  margin-right: 2%;
  width: 49%;
  float: left;
}
.single-post-category:last-child {
  margin-right: 0;
}

.separat-category a {
  background-color: mediumturquoise;
  font-size: 1.2rem;
  line-height: 1;
  padding: .3rem .5rem;
  color: white;
  border-radius: 0;
  display: inline-block;
  font-weight: bold;
  opacity: 1;
  margin-right: .2rem;
}

.page-numbers:not(.prev):not(.next) {
  text-align: center;
  display: inline-block;
  line-height: 2.4rem;
  width: 2.4rem;
}

.link-pages {
  margin-bottom: 1.6rem;
}
.link-pages span,
.link-pages .current {
  background-color: mediumturquoise;
  color: white;
  font-weight: 700;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 1, 1, 0.1);
  box-sizing: content-box;
}
.link-pages > span {
  background-color: white;
  color: #404040;
}

/**
 * --------------------------------------------------------------------------------
 * side-Bar style
 * --------------------------------------------------------------------------------
*/
.sidebar {
  margin-top: 2.4rem;
}
.sidebar .sidebar-widget:last-child {
  margin-bottom: 0;
}
.sidebar .list-item {
  border-bottom: 0.1rem solid #efefef;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
}
.sidebar .list-item p {
  margin-bottom: 0rem;
}
.sidebar .list-item:last-child {
  border-bottom: unset;
  padding-bottom: 0;
  margin-bottom: 0;
}

.sidebar-widget ul {
  list-style-type: none;
}
.sidebar-widget li:before {
  font-family: 'FontAwesome';
  content: '\f067';
  margin: 0 1rem 0 0;
  color: #404040;
}
.sidebar-widget .widget-nav {
  display: inline-block;
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  z-index: 1;
}
.sidebar-widget .widget-nav .slide-prev:after {
  content: "\f104";
}
.sidebar-widget .widget-nav .slide-next:after {
  content: "\f105";
}
.sidebar-widget .textwidget img {
  width: 100%;
  height: auto;
}

.searchform {
  margin-bottom: 0;
}
.searchform #searchsubmit {
  margin-bottom: 0;
  padding: .5rem 0;
}

/**
 * --------------------------------------------------------------------------------
 * Side-Bar Social Media link code
 * --------------------------------------------------------------------------------
*/
.widget-social-links {
  margin-bottom: 2.4rem;
}

.social-box-section {
  background-color: white;
  margin-bottom: 1rem;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}
.social-box-section .fa-facebook:before {
  color: #4267b2;
}
.social-box-section .fa-google-plus:before {
  color: #EA4133;
}
.social-box-section .fa-twitter:before {
  color: #4fc5f6;
}
.social-box-section .fa-linkedin:before {
  color: #2878B5;
}
.social-box-section .like-button .part {
  text-align: center;
}
.social-box-section .part {
  padding: .5rem;
}
.social-box-section .widget-social-icon,
.social-box-section .follow-count,
.social-box-section .like-button {
  float: left;
}
.social-box-section .widget-social-icon {
  width: 10%;
  text-align: center;
}
.social-box-section .follow-count {
  width: 66%;
  color: #fff;
  font-weight: 700;
}
.social-box-section .like-button {
  width: 24%;
}

.fb-icon .follow-count {
  background-color: #4267b2;
}

.gp-icon .follow-count {
  background-color: #EA4133;
}

.twitter-icon .follow-count {
  background-color: #4fc5f6;
}

.linkedin-icon .follow-count {
  background-color: #2878B5;
}

.masonry {
  margin: 2.4rem 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
}
.masonry .cols {
  display: inline-block;
  padding: 1rem;
  margin-bottom: 1.6rem;
  background-color: white;
}

.category-title h1 {
  font-size: 3.6rem;
  color: #404040;
  margin-bottom: 0;
  margin-top: 1.6rem;
}

/**
 * --------------------------------------------------------------------------------
 * Footer & Buttom-Bar style
 * --------------------------------------------------------------------------------
*/
.footer {
  background-color: #020202;
  padding: 4.8rem 0;
}
.footer .widget-footer-left {
  color: #fff;
  padding: 1.6rem 0;
}
.footer .widget_recent_comments h3 {
  color: #fff;
  border-bottom: 0;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: .2rem;
}
.footer .widget_recent_comments .recentcomments {
  color: #fff;
  list-style-type: none;
}
.footer .widget_recent_comments .recentcomments:before {
  font-family: 'FontAwesome';
  content: '\f067';
  margin: 0 1rem 0 0;
  color: #FFF;
}
.footer .widget_recent_entries h3 {
  color: #fff;
  border-bottom: 0;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: .2rem;
}
.footer .widget_recent_entries li {
  color: #fff;
  list-style-type: none;
}
.footer .widget_recent_entries li:before {
  font-family: 'FontAwesome';
  content: '\f067';
  margin: 0 1rem 0 0;
  color: #FFF;
}
.footer .footer-widget-title {
  color: #fff;
  border-bottom: 0;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: .2rem;
}

.buttom-bar {
  background-color: #020202;
  padding: 1.6rem 0;
  border-top: solid 1px;
}
.buttom-bar .right-side-cp-text {
  color: #fff;
}
.buttom-bar .right-side-cp-text p {
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 2.6rem;
}
.buttom-bar .right-side-privacy {
  float: right;
  color: #fff;
}
.buttom-bar .right-side-privacy a {
  color: white;
}
.buttom-bar .right-side-privacy li {
  list-style-type: none;
  display: inline-block;
  margin: 0 2.0rem 0 0;
}

/**
 * --------------------------------------------------------------------------------
 * single page style 
 * --------------------------------------------------------------------------------
*/
.single-post-text {
  background-color: #fff;
  padding: 2.6rem;
}
.single-post-text p {
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.single-post-text img {
  max-width: 100%;
  height: auto;
}

input[type="text"],
input[type="email"],
input[type="url"],
textarea {
  background-color: #f3f1f2;
}

.form-control {
  width: 100%;
  height: 50%;
}

label {
  color: #808086;
  margin-bottom: 1rem;
  font-weight: 700;
}

.comment-reply-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.submit > button {
  margin: 0;
  text-transform: uppercase;
  padding: 0 2rem;
  height: 4.5rem;
}

.submit-right-transition {
  position: relative;
  color: #fff;
  font-weight: 700;
  background-color: mediumturquoise;
  border: 1px solid mediumturquoise;
  text-transform: uppercase;
  width: 100%;
  overflow: auto;
  z-index: 1;
}

.content-footer {
  border-top: 1px solid #1f1f1f;
  padding-top: 2.4rem;
  clear: both;
}

.author-info {
  border-top: 1px solid #1f1f1f;
  padding-top: 2.4rem;
  clear: both;
}
.author-info .author-image {
  float: left;
  padding-right: 1.6rem;
}
.author-info .comment-wrapper {
  margin-bottom: 0;
  border-left: 1px solid #1f1f1f;
}
.author-info .comment-wrapper {
  display: table;
  padding-left: 1.6rem;
  margin-bottom: 3.6rem;
}

.pagination-single {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.pagination-single .pagination-nav .next:after {
  content: "\f105";
  font: normal normal normal 2.4rem/1 FontAwesome;
}
.pagination-single .pagination-nav .prev:after {
  content: "\f104";
  font: normal normal normal 2.4rem/1 FontAwesome;
}
.pagination-single .next {
  float: right;
}
.pagination-single .prev {
  float: left;
}

.pagination-nav {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.pagination-nav a {
  color: #404040;
  font-size: 1.8rem;
  font-weight: 700;
}
.pagination-nav .nav-prev {
  float: left;
}
.pagination-nav .nav-prev:before {
  content: '\f104';
  color: #404040;
  font: normal normal 700 22px/1 FontAwesome;
  margin-right: 1rem;
}
.pagination-nav .nav-next {
  float: right;
}
.pagination-nav .nav-next:after {
  content: '\f105';
  color: #404040;
  font: normal normal 700 22px/1 FontAwesome;
  margin-left: 1rem;
}
.pagination-nav .right-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.pagination-nav .right-nav .right {
  text-align: right;
}
.pagination-nav .left-nav {
  display: flex;
  align-items: center;
}

.breadcrumb {
  margin-top: 2.2rem;
  font-size: 1.4rem;
  color: #b3afaf;
}
.breadcrumb .fa-angle-right:before {
  font-size: 1rem;
}
.breadcrumb .fa-home:before {
  margin-right: .5rem;
  font-size: 1rem;
}

/**
 * 
 * #.# Comments Template
 * 
 */
#commentform {
  margin-bottom: 0;
}

.form-submit {
  margin-bottom: 0;
}

.comments-on:before {
  content: "\f0e6";
  font: normal 400 normal 1.8rem/1 FontAwesome;
  margin-right: .2rem;
  margin-left: .8rem;
}

.depth-1 {
  margin-bottom: 3.6rem;
  border-bottom: 1px dotted #1f1f1f;
}

.author-image {
  float: left;
  padding-right: 1.6rem;
}

.author-image img {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
}

.comment-wrapper {
  display: table;
  padding-left: 1.6rem;
  border-left: 1px dotted #1f1f1f;
  margin-bottom: 3.6rem;
}

.comment-wrapper p {
  margin-bottom: 0;
}

#comments ol {
  list-style-type: none;
}

.comment-author img {
  float: left;
  border-radius: 50%;
  margin-right: 2rem;
}

.comment-author .says {
  display: none;
}

.comment-meta {
  margin-bottom: 1rem;
}

.comment-meta a {
  font-weight: 400;
}

.reply {
  display: block;
  text-align: right;
  margin-bottom: 1rem;
}

.comment p {
  margin-bottom: 1rem;
}

.comment .children {
  margin-left: 6rem;
}

.comment-time {
  font-size: 1.4rem;
  font-weight: 400;
}

.comments-pagination {
  margin-bottom: 2.4rem;
}

.comments-pagination .nav-links {
  margin-right: 1rem;
}

.comments-pagination .nav-links > .next {
  margin-right: 0;
}

.comments-pagination .nav-links > .next,
.comments-pagination .nav-links > .prev {
  position: relative;
  top: .2rem;
}

.author-link {
  margin-top: 1rem;
}

#cancel-comment-reply-link {
  margin-left: 1rem;
}

/*
 * --------------------------------------------------------------------------------
 * Small devices 
 * --------------------------------------------------------------------------------
*/
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .nav-menu {
    display: none;
  }

  .exclusive-news {
    width: 20%;
  }

  .marquee {
    width: 80%;
  }

  .admin-bar .menubar-right {
    top: 10.4rem;
  }
}
@media (max-width: 768px) {
  .fullwidth-sections {
    width: 100%;
  }

  .section-one .x-large {
    width: 100%;
    height: auto;
  }

  .section-one .medium-post-section {
    width: 100%;
  }

  .big-category-section {
    width: 100%;
  }

  .list-type-categories {
    width: 100%;
    margin: 10px 0px 10px 0px;
  }

  .single-post-category {
    width: 100%;
  }

  .eight.columns {
    width: 100%;
  }

  .admin-bar .menubar-right {
    top: 12rem;
  }
}
@media (max-width: 550px) {
  .header {
    box-shadow: 0px 15px 9px -14px rgba(0, 0, 0, 0.2);
  }

  .exclusive-news {
    width: 30%;
  }

  .marquee {
    width: 70%;
  }

  .single-post-category {
    width: 100%;
  }

  .fullwidth-sections {
    width: 100%;
  }

  .fullwidth-sections {
    width: 100%;
    margin-bottom: 2rem;
  }

  .big-category-section {
    width: 100%;
  }

  .list-type-categories {
    width: 100%;
    margin: 10px 0px 10px 0px;
  }

  .footer .widget-footer-left {
    padding: 1.6rem 0 0 1.6rem;
  }
}
@media (max-width: 375px) {
  .exclusive-news {
    width: 35%;
  }

  .marquee {
    width: 65%;
  }
}
