/**
 * 
 * #.# Comments Template
 * 
 */

#commentform {
	margin-bottom: 0;
}

.form-submit {
	margin-bottom: 0;
}

.comments-on:before {
	content: "\f0e6";
	font: normal 400 normal 1.8rem/1 FontAwesome;
	margin-right: .2rem;
	margin-left: .8rem;
}

.depth-1 {
	margin-bottom: 3.6rem;
	border-bottom: 1px dotted #1f1f1f;
}


.author-image {
	float: left;
	padding-right: 1.6rem;
}

.author-image img {
	border-radius: 100%;
	width: 5rem;
	height: 5rem;
}

.comment-wrapper {
	display: table;
	padding-left: 1.6rem;
	border-left: 1px dotted #1f1f1f;
	margin-bottom: 3.6rem;
}

.comment-wrapper p {
	margin-bottom: 0;
}

#comments ol {
    list-style-type: none;
}

.comment-author img {
	float: left;
    border-radius: 50%;
    margin-right: 2rem;
}

.comment-author .says {
	display: none;
}

.comment-meta {
    margin-bottom: 1rem;
}

.comment-meta a {
    font-weight: 400;
}

.reply {
	display: block;
    text-align: right;
    margin-bottom: 1rem;
}

.comment p {
	margin-bottom: 1rem;
}

.comment .children {
    margin-left: 6rem;
}

.comment-time {
	font-size: 1.4rem;
	font-weight: 400;
}

.comments-pagination {
    margin-bottom: 2.4rem;
}

.comments-pagination .nav-links {
    margin-right: 1rem;
}

.comments-pagination .nav-links>.next {
	margin-right: 0;
}

.comments-pagination .nav-links>.next,
.comments-pagination .nav-links>.prev {
	position: relative;
	top: .2rem;
}

.author-link {
    margin-top: 1rem;
}

#cancel-comment-reply-link {
	margin-left: 1rem;
}

.bypostauthor {}