/*
 * --------------------------------------------------------------------------------
 * Small devices 
 * --------------------------------------------------------------------------------
*/
@media (max-width: 550px) {

	.single-post-category {
    	width: 100%;
	}
	.fullwidth-sections {
    	width: 100%;
	}
	.fullwidth-sections {
    	width: 100%;
    	margin-bottom: 2rem;
	}
	.big-category-section {
    	width: 100%;
    }	
	.list-type-categories {
    	width: 100%;
    	margin: 10px 0px 10px 0px;
    }
    .footer {
    	
    	.widget-footer-left{
    		padding: 1.6rem 0 0 1.6rem;
    	}
	}
}

