/*
 * --------------------------------------------------------------------------------
 * Small devices 
 * --------------------------------------------------------------------------------
*/
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .nav-menu {
        display: none;
    }

    .exclusive-news {
        width: 20%;
    }

    .marquee {
        width: 80%;
    }

    .admin-bar .menubar-right {
        top: 10.4rem;
    }
}

@media (max-width: 768px) {

    .fullwidth-sections {
        width: 100%;
    }
    .section-one {
        .x-large {
            width: 100%;
            height: auto;
        }
    }
    .section-one { 

        .medium-post-section {
            width: 100%;
        }
    }

    .big-category-section {
        width: 100%;
    }

    .list-type-categories {
        width: 100%;
        margin: 10px 0px 10px 0px;
    }
    .single-post-category {
        width: 100%;
    }
    .eight.columns {
        width: 100%;
    }
    .admin-bar .menubar-right {
        top: 12rem;
    }
}

@media (max-width: 550px) {

    .header {
        box-shadow: 0px 15px 9px -14px rgba(0, 0, 0, 0.2);
    }
    
    .exclusive-news {
        width: 30%;
    }

    .marquee {
        width: 70%;
    }
	.single-post-category {
    	width: 100%;
	}
	.fullwidth-sections {
    	width: 100%;
	}
	.fullwidth-sections {
    	width: 100%;
    	margin-bottom: 2rem;
	}
	.big-category-section {
    	width: 100%;
    }	
	.list-type-categories {
    	width: 100%;
    	margin: 10px 0px 10px 0px;
    }
    .footer {
    	.widget-footer-left{
    		padding: 1.6rem 0 0 1.6rem;
    	}
	}
}

@media (max-width: 375px) {
    .exclusive-news {
        width: 35%;
    }

    .marquee {
        width: 65%;
    }
}