/**
 * --------------------------------------------------------------------------------
 * side-Bar style
 * --------------------------------------------------------------------------------
*/

.sidebar {

	margin-top: 2.4rem;

	.sidebar-widget {

		&:last-child {
			margin-bottom: 0;
		}
	}

	.list-item {
		border-bottom: .1rem solid rgb(239, 239, 239);
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		display: inline-block;

		p {
			margin-bottom: 0rem;
		}

		&:last-child {
			border-bottom: unset;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}
}
.sidebar-widget{
	ul {
		list-style-type: none;
	}

	li:before {
		font-family: 'FontAwesome';
		content: '\f067';
		margin:0 1rem 0 0;
		color: $dark-color;
	}

	.widget-nav {

		display: inline-block;
		position: absolute;
		top: 2.4rem;
		right: 2.4rem;
		z-index: 1;

		.slide-prev {
			&:after {
				content: "\f104";
			}
		}

		.slide-next {
			&:after {
				content: "\f105";
			}
		}
		
	}

	.textwidget img {
		width: 100%;
		height: auto;
	}
}
