/**
 * --------------------------------------------------------------------------------
 * side-Bar style
 * --------------------------------------------------------------------------------
*/

.sidebar {

	margin-top: 2.4rem;

	.sidebar-widget {

		&:last-child {
			margin-bottom: 0;
		}
	}

	.list-item {
		border-bottom: .1rem solid rgb(239, 239, 239);
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		display: inline-block;

		p {
			margin-bottom: 0rem;
		}

		&:last-child {
			border-bottom: unset;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}
}
.sidebar-widget{
	ul {
		list-style-type: none;
	}

	li:before {
		font-family: 'FontAwesome';
		content: '\f067';
		margin:0 1rem 0 0;
		color: $dark-color;
	}

	.widget-nav {

		display: inline-block;
		position: absolute;
		top: 2.4rem;
		right: 2.4rem;
		z-index: 1;

		.slide-prev {
			&:after {
				content: "\f104";
			}
		}

		.slide-next {
			&:after {
				content: "\f105";
			}
		}
	}

	.textwidget img {
		width: 100%;
		height: auto;
	}
}

.searchform {
	margin-bottom: 0;

	#searchsubmit {
		margin-bottom: 0;
		padding: .5rem 0;
	}
}
.search{
	
	img {
	    width: 100%;
	    height: auto;
	}
} 

/**
 * --------------------------------------------------------------------------------
 * Side-Bar Social Media link code
 * --------------------------------------------------------------------------------
*/
.widget-social-links {
    margin-bottom: 2.4rem;
}
.social-box-section {
    background-color: white;
    margin-bottom: 1rem;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    .fa-facebook:before {

	    color: #4267b2;
	}
	.fa-google-plus:before {
	    color: #EA4133;
	}
	.fa-twitter:before {

	    color: #4fc5f6;
	}

	.fa-youtube-play:before {
	    color: #e53616;
	}

	.like-button .part {
		
		text-align: center;
	}
	

    .part {
    	padding: .5rem;
    }

    .widget-social-icon,
    .follow-count,
    .like-button {
    	float: left;
    }

    .widget-social-icon {
    	width: 10%;
    	text-align: center;
    }

    .follow-count {
    	width: 66%;
    	color: #fff;
    	font-weight: 700;
    }

    .like-button {
    	width: 24%;
    }

}

.fb-icon{
	.follow-count{
		background-color: #4267b2;
	}
}

.gp-icon{

	.follow-count{
		background-color:#EA4133;
	}
}

.twitter-icon{
	.follow-count{
		background-color: #4fc5f6;
	}
}
.youtube-icon{
	.follow-count{
		background-color: #e53616;
	}
}