/**
 * --------------------------------------------------------------------------------
 * side-Bar style
 * --------------------------------------------------------------------------------
*/

.sidebar {

	margin-top: 2.4rem;

	.sidebar-widget {

		&:last-child {
			margin-bottom: 0;
		}
	}

	.list-item {
		border-bottom: .1rem solid rgb(239, 239, 239);
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		display: inline-block;

		p {
			margin-bottom: 0rem;
		}

		&:last-child {
			border-bottom: unset;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}
}
.sidebar-widget{

		ul {
    		list-style-type: none;
		}

		li:before {
			font-family: 'FontAwesome';
			content: '\f067';
			margin:0 5px 0 0;
			color: #f00;
		}
	}
